<form #form="ngForm" autocomplete="off">
  
  <input type="hidden" name="userId" [value]="appService.userFormData.id" 
  />
  <div class="mb-3">
    <label for="name">Name</label>
    <input class="form-control form-control-lg" placeholder="Name" #name="ngModel" type="text" name="name" [(ngModel)]="appService.userFormData.name" id="name" required />
  </div>

  <div class="mb-3">
    <label for="lastName">Email</label>
    <input class="form-control form-control-lg" placeholder="Email" #email="ngModel" type="email" name="email" [(ngModel)]="appService.userFormData.email" id="email" required />
  </div>


  <div class="row">
    <div class="col-6">
      <button class="btn btn-lg btn-success" type="submit" (click)="onSubmit(form)">
        Submit
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-lg btn-warning float-end" type="submit" (click)="appService.clearForm(form)">
        Clear
      </button>
    </div>
  </div>
</form>
