<div class="table-responsive">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Desc</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let parc of appService.parcList">
          <td>{{ parc.name }}</td>
          <td>{{ parc.description }}</td>
          <td class="text-center">
            <div class="btn-group" role="group">
              <button class="btn btn-danger btn-sm me-2">Delete</button>
              <button class="btn btn-warning btn-sm">Edit</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</div>